*.pyc
*.pyo
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
.*
HiggsAnalysis/*
helper_scripts/logs/*
helper_scripts/*root
helper_scripts/figures/
logs

# condor scratch/staging dirs created by 2DAlphabet (tarballs, JDLs, job logs)
**/notneeded/

forAN

*md
helper_scripts/parquet_files/rates_muons_electrons_both_alphas_KAPPAS_10_1000000_varying_steps_coarse_grain_epsilon_and_mas_WITH_CALC_ACCEPTANCES-2.parquet
