universe                  = vanilla
Executable                = /home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/run_2DA_VR2_batch.sh
Should_Transfer_Files     = YES
WhenToTransferOutput      = ON_EXIT
transfer_input_files      = /home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/run_single_signal_2DA.py,/home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/config_Binningv7alt_InputTemplate_VR2_Unblind.json,/home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/2DAlphabet,/home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/HiggsAnalysis,/home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/CombineHarvester,/home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/histograms_for_2DAlphabet_v21
transfer_output_files     = rpf2x0_Binningv7alt_Inputv21_VR2_Unblind
x509userproxy             = /tmp/x509up_u81951
request_cpus              = 1
request_memory            = 6000
request_disk              = 10GB
Output                    = logs/2DA_VR2_$(Cluster)_$(Process).stdout
Error                     = logs/2DA_VR2_$(Cluster)_$(Process).stderr
Log                       = logs/2DA_VR2_$(Cluster)_$(Process).log
Arguments                 = $(template_config) $(signal) $(tf_type)
+JobFlavour               = "longlunch"
+DESIRED_Sites            = "T2_US_UCSD"
#+REQUIRED_OS             = "el8"
+SingularityImage         = "/cvmfs/singularity.opensciencegrid.org/cmssw/cms:rhel8"
+MaxWallTimeMins          = 140
Queue template_config,signal,tf_type from input_2DA_VR2.txt
