universe                                        = vanilla
Executable                                      = /home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/helper_scripts/run_ntuple_processing_batch.sh
Should_Transfer_Files                           = YES
WhenToTransferOutput                            = ON_EXIT
x509userproxy                                   = /tmp/x509up_u81951
request_cpus                                    = 4
request_memory                                  = 6000
request_disk                                    = 4GB
Output                                          = logs/output_$(Cluster)_$(Process).stdout
Error                                           = logs/output_$(Cluster)_$(Process).stderr
Log                                             = logs/output_$(Cluster)_$(Process).log
transfer_input_files                            = /home/users/tvami/EarthAsDM/CMSSW_14_1_0_pre4/src/helper_scripts/skimmed_ntuple_processing_script.py, /home/users/smasanam/EarthAsDMProject/CMSSW_13_0_10/src/CosmicsAnalyzer/EarthAsDMAnalyzer/test/rnn_v5_188k_final_weights.ckpt.data-00000-of-00001, /home/users/smasanam/EarthAsDMProject/CMSSW_13_0_10/src/CosmicsAnalyzer/EarthAsDMAnalyzer/test/rnn_v5_188k_final_weights.ckpt.index
transfer_output_files                           = output/
Arguments                                       = $(input_file) $(ntuple_version) $(sample_type) $(region) $(collection) $(run_type)
+JobFlavour                                     = "longlunch"
+DESIRED_Sites                                  = "T2_US_UCSD"
+REQUIRED_OS                                    = "el8"
+MaxWallTimeMins                                = 140
# Queue input_file, ntuple_version, sample_type, region, collection, run_type from input_ntuples_test.txt
Queue input_file, ntuple_version, sample_type, region, collection, run_type from input_ntuples_v4.0.9.txt
# Queue input_file, ntuple_version, sample_type, region, collection, run_type from input_ntuples_v4.0.9_vr_only.txt
